@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
}

:root {
	--red: #d92550;
    --zershki : #dc3545;
	--background : #f5f5f5;
	--myCyan: rgba(165, 243, 252, 0.9);
	--mySky: rgba(12, 74, 110, 0.8);
}

.vazir {
	font-family: 'Vazir';
}